@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes glowing {
    0% {
      color: red;
      text-shadow: 0 0 5px red;
    }
    50% {
      color: yellow;
      text-shadow: 0 0 20px yellow;
    }
    75%{
      color: green;
      text-shadow: 0 0 5px green;
    }
    100% {
      color: blue;
      text-shadow: 0 0 5px blue;
    }
  }

  .glowing-text {
    animation: glowing 2s infinite;
  }
}

*{
  font-family: Poppins;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 20px;
}
::-webkit-scrollbar-track{
  background: rgba(0,0,0,0.9);
}
::-webkit-scrollbar-thumb{
  background:linear-gradient(to bottom, rgb(0,62,196), rgb(184,0,153))
}

